<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--调度库-->
  <add key="ScheduConnect" value="Data Source=192.168.18.173;Initial Catalog=ph_task_schedu;User ID=root;Password=123456"/>
  <!--配置库-->
  <add key="SettingConnect" value="Data Source=192.168.18.250;Initial Catalog=PH_B2B2C_SaaS_Setting;User ID=root;Password=yb@123456"/>
  <!--评论库-->
  <add key="CommentConnect" value="Data Source=192.168.18.250;Initial Catalog=PH_B2B2C_SaaS_Comment;User ID=root;Password=yb@123456"/>
  <!--会员库-->
  <add key="MemberConnect" value="Data Source=192.168.18.250;Initial Catalog=PH_B2B2C_SaaS_Member;User ID=root;Password=yb@123456"/>
  <!--主业务库-->
  <add key="MainConnect" value="Data Source=192.168.18.250;Initial Catalog=PH_B2B2C_SaaS;User ID=root;Password=yb@123456"/>
  <!--缓存服务器-->
  <add key="CacheServer" value="192.168.18.173"/>
</configuration>