<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">PH</h1>
        </div>
        <form class="form-horizontal" id="form_baseInfo" style="margin-top:20px;">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="登录帐号" required="" id="UserName" name="UserName">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="登录密码" required="" id="PassWord" name="PassWord">
            </div>
            <button type="button" class="btn btn-primary block full-width m-b" id="btn_userLogin">登 录</button>
        </form>
    </div>
</div>
@section style{
    <link rel="stylesheet" href="/Content/Scripts/plugins/iCheck/custom.css" />
}
@section scripts{
    <script src="~/Content/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Content/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/plugins/validate/messages_zh.min.js"></script>
    <script type="text/javascript">
        var formBaseInfo = null;
        $(function () {
            formBaseInfo = new Schedu.Form("form_baseInfo");
            $("#btn_userLogin").on("click", function () {
                if (!formBaseInfo.validate()) {
                    return;
                }
                var data = formBaseInfo.getData();
                $.ajax({
                    type: "POST",
                    url: "/Login/Info",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    beforeSend: function () {
                        index = layer.load(0);
                    },
                    complete: function () {
                        layer.close(index);
                    },
                    success: function (data) {
                        if (data.HasError) {
                            layer.alert(data.Message);
                            return;
                        }
                    }
                });
            });
        });
    </script>
}